In [1]:
import pandas as pd

In [2]:
novels = pd.read_csv("../clean data/novel_features.csv", index_col=0)
novels.head()

,Writer Name,Novel Name,Genre,Final Word Count,Daily Average,Winner,Synopses,url,Novel Date,Excerpt,...,num uniques,num sentences,paragraphs,fk score,has excerpt,num words excerpt,num uniques excerpt,num sentences excerpt,paragraphs excerpt,fk score excerpt
0,Nicaless,Novel: Lauren's Birthday,Young Adult,24229,807,0,\n<p></p>\n,http://nanowrimo.org/participants/nicaless/nov...,November 2015,\n<p></p>\n,...,0,0,0,0.00,0,0,0,0,0,0.00
1,Nicaless,Novel: A Mystery in the Kingdom of Aermon,Fantasy,50919,"1,697",1,\n<p>Hitoshi is appointed the youngest Judge a...,http://nanowrimo.org/participants/nicaless/nov...,November 2014,"\n<p>This story, funnily enough, started out a...",...,42,3,1,65.73,1,132,96,13,7,78.25
2,Rachel B. Moore,Novel: Finding Fortunato,Literary,50603,"1,686",1,\n<p>Sam and Anna Gold and their newly adoptiv...,http://nanowrimo.org/participants/rachel-b-moo...,November 2015,\n<p></p>\n,...,109,7,4,58.62,0,0,0,0,0,0.00
3,Rachel B. Moore,Novel: The Residency,Literary,50425,"1,680",1,\n<p>It's every writer's dream - an all-expens...,http://nanowrimo.org/participants/rachel-b-moo...,November 2014,\n<p></p>\n,...,51,4,3,65.73,0,0,0,0,0,0.00
4,Rachel B. Moore,Novel: The Jew From Fortunato,Literary Fiction,41447,"1,381",0,\n<p>20-something Andre Levinsky is a fish out...,http://nanowrimo.org/participants/rachel-b-moo...,November 2013,\n<p></p>\n,...,93,4,1,56.93,0,0,0,0,0,0.00

In [3]:
writers = pd.read_csv("../clean data/user_summary_no2015.csv", index_col=0)['Writer Name']
writers.head()
len(writers)

501

In [4]:
list(set(novels.groupby("Writer Name").get_group("Shadowsong_cc")['Genre']))

['Science Fiction', 'Fantasy']

In [5]:
writer_genres = []
for i in writers:
    genres = list(set(novels.groupby("Writer Name").get_group(i)['Genre']))
    writer_genres.append(genres)

In [6]:
len(writer_genres)

501

In [7]:
writers = pd.DataFrame(writers)
writers.head()

        Writer Name
0          Nicaless
1   Rachel B. Moore
2      abookishbabe
3        alexabexis
4  AllYellowFlowers

In [8]:
writers['Genres'] = writer_genres

In [9]:
writers.head()

        Writer Name                                             Genres
0          Nicaless                             [Fantasy, Young Adult]
1   Rachel B. Moore                       [Literary, Literary Fiction]
2      abookishbabe                                      [Young Adult]
3        alexabexis  [Romance, Horror/Supernatural, Horror & Supern...
4  AllYellowFlowers                       [Literary, Literary Fiction]

In [10]:
writers.to_csv("../clean data/writer_genres.csv")